# Frontend Config
NEXT_PUBLIC_API_URL=http://localhost:8000

# Backend Config
FRONTEND_URL=http://localhost:3000
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=user@example.com
SMTP_PASS=password
CONTACT_RECEIVER=receiver@example.com
